*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: url(images/bg-desktop-dark.jpg) hsl(235, 21%, 11%) no-repeat;
  background-size: 100vw 300px;
  font-size: 1.125rem;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}
@media screen and (max-width: 740px) {
  body {
    background: url(images/bg-mobile-dark.jpg) hsl(235, 21%, 11%) no-repeat;
    background-size: 100vw 200px;
  }
}

.body-bg-light-mode {
  background: url(images/bg-desktop-light.jpg) hsl(0, 0%, 98%) no-repeat;
}
@media screen and (max-width: 740px) {
  .body-bg-light-mode {
    background: url(images/bg-mobile-light.jpg) hsl(0, 0%, 98%) no-repeat;
    background-size: 100vw 200px;
  }
}

.hero-container {
  margin: 10vh auto;
  width: 38%;
}
@media screen and (max-width: 1165px) {
  .hero-container {
    width: 60%;
  }
}
@media screen and (max-width: 740px) {
  .hero-container {
    margin-top: 7vh;
    width: calc(100vw - 50px);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex h1 {
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  letter-spacing: 13px;
}
.flex button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.create-todo {
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  border-radius: 7.5px;
  padding: 1.25rem 1.5625rem;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media screen and (max-width: 740px) {
  .create-todo {
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.checkbox {
  border: 2px solid hsl(233, 14%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 1em;
  height: -moz-fit-content;
  height: fit-content;
}
.checkbox input {
  display: none;
}
.checkbox img {
  margin: 0 50%;
  visibility: hidden;
}
.checkbox .checked {
  visibility: visible;
}
.checkbox .custom-checkbox {
  width: 20px;
  aspect-ratio: 1;
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox input:checked + .custom-checkbox {
  border: none;
  background: transparent;
}
.checkbox:hover {
  border: 2px solid transparent;
  background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%)) padding-box, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.input-todo {
  padding: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.input-todo input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: hsl(234, 39%, 85%);
  font-family: inherit;
  font-size: inherit;
  caret-color: hsl(220, 98%, 61%);
}

.todo-list {
  border-radius: 7.5px;
  overflow: hidden;
  position: relative;
}
.todo-list .todo {
  display: flex;
  justify-content: none;
  align-items: center;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  padding: 0.7em 1.5em;
  cursor: pointer;
}
@media screen and (max-width: 740px) {
  .todo-list .todo {
    font-size: 13px;
  }
}
.todo-list .todo button {
  cursor: pointer;
  margin-left: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  display: none;
}
@media screen and (max-width: 740px) {
  .todo-list .todo button {
    display: block;
  }
}
.todo-list .todo:hover button {
  display: block;
}
.todo-list .hidden {
  display: none;
}
.todo-list .completed {
  color: hsl(234, 11%, 52%);
  text-decoration: line-through;
}
.todo-list .todo-options {
  width: 100%;
  height: 65px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  color: hsl(234, 11%, 52%);
  padding: 0em 1.5625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list .todo-options button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
.todo-list .todo-options button:hover {
  cursor: pointer;
  color: hsl(234, 39%, 85%);
}
.todo-list .todo-options button:focus, .todo-list .todo-options button:active {
  color: hsl(220, 98%, 61%);
}
.todo-list .todo-options .filter-sub-options {
  font-weight: 700;
}
@media screen and (max-width: 740px) {
  .todo-list .todo-options .filter-sub-options {
    display: none;
  }
}

p {
  margin-top: 2em;
  text-align: center;
  color: hsl(234, 11%, 52%);
}

.filter-sub-options-mobile {
  width: 100%;
  height: 65px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  border-radius: 10px;
  margin-top: 2em;
  display: none;
}
.filter-sub-options-mobile button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
.filter-sub-options-mobile button:hover {
  cursor: pointer;
  color: hsl(234, 39%, 85%);
}
.filter-sub-options-mobile button:focus, .filter-sub-options-mobile button:active {
  color: hsl(220, 98%, 61%);
}
@media screen and (max-width: 740px) {
  .filter-sub-options-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

.light-mode .create-todo {
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
}
.light-mode .create-todo input {
  color: hsl(235, 19%, 35%);
}
.light-mode .create-todo input button {
  border: 1px solid hsl(233, 11%, 84%);
}
.light-mode .checkbox {
  border: 2px solid hsl(233, 11%, 84%);
}
.light-mode .checkbox:hover {
  border: 2px solid transparent;
  background: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%)) padding-box, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}
.light-mode .todo-list .todo {
  border-bottom: 1px solid hsl(233, 11%, 84%);
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
}
.light-mode .todo-list .completed {
  color: hsl(233, 11%, 84%);
}
.light-mode .todo-list .todo-options {
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
  color: hsl(234, 11%, 52%);
}
.light-mode .todo-list .todo-options button:hover {
  color: hsl(235, 19%, 35%);
}
.light-mode .todo-list .todo-options button:focus, .light-mode .todo-list .todo-options button:active {
  color: hsl(220, 98%, 61%);
}
.light-mode .filter-sub-options-mobile {
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
}/*# sourceMappingURL=styles.css.map */