    // ### Primary
    $Bright-Blue: hsl(220, 98%, 61%);
    $Check-Background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    // ### Neutral

    // ### Light Theme
    $Very-Light-Gray: hsl(0, 0%, 98%);
    $Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    $Light-Grayish-Blue-light-mode: hsl(233, 11%, 84%);
    $Dark-Grayish-Blue: hsl(236, 9%, 61%);
    $Very-Dark-Grayish-Blue-light-mode: hsl(235, 19%, 35%);

    // ### Dark Theme
    $Very-Dark-Blue: hsl(235, 21%, 11%);
    $Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    $Light-Grayish-Blue: hsl(234, 39%, 85%);
    $Light-Grayish-Blue-Hover: hsl(236, 33%, 92%); // (hover)
    $Dark-Grayish-Blue: hsl(234, 11%, 52%);
    $Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    $Very-Dark-Grayish-Blue-Alt: hsl(237, 14%, 26%);

    @mixin flex($justify-content, $align-items) {
        display: flex;
        justify-content: $justify-content;
        align-items: $align-items;
    }

    @mixin styles {
        width: 100%;
        height: 65px;
        background-color: $Very-Dark-Desaturated-Blue;
        color: $Light-Grayish-Blue;
    }

    @mixin button-styling {
        button {
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1rem;
            font-family: inherit;
            color: inherit;
            font-weight: inherit;

            &:hover {
                cursor: pointer;
                color: $Light-Grayish-Blue;
            }

            &:focus,
            &:active {
                color: $Bright-Blue;
            }
        }
    }

    @mixin in-between-viewports {
        @media screen and (max-width:1165px) {
            @content;
        }
    }

    @mixin mobile {
        @media screen and (max-width:740px) {
            @content;
        }
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    body {
        background: url(images/bg-desktop-dark.jpg) $Very-Dark-Blue no-repeat;
        background-size: 100vw 300px;
        font-size: 1.125rem;
        font-family: 'Josefin Sans', sans-serif;
        height: 100vh;

        @include mobile() {
            background: url(images/bg-mobile-dark.jpg) $Very-Dark-Blue no-repeat;
            background-size: 100vw 200px;
        }
    }

    .body-bg-light-mode {
        background: url(images/bg-desktop-light.jpg) $Very-Light-Gray no-repeat;

        @include mobile() {
            background: url(images/bg-mobile-light.jpg) $Very-Light-Gray no-repeat;
            background-size: 100vw 200px;
        }
    }

    .hero-container {
        margin: 9vh auto;
        width: 38%;

        @include in-between-viewports() {
            width: 60%;
        }

        @include mobile() {
            width: 90%;
        }
    }

    .flex {
        @include flex(space-between, center);

        h1 {
            text-transform: uppercase;
            color: $Very-Light-Gray;
            letter-spacing: 5px;
        }

        button {
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }
    }

    .create-todo {
        @include flex(none, center);
        @include styles;
        border-radius: 10px;
        padding: 1.25rem 1.5625rem;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .checkbox {
        border: 2px solid $Very-Dark-Grayish-Blue;
        @include flex(center, center);
        border-radius: 100px;
        overflow: hidden;
        margin-right: 1.5em;
        height: fit-content;

        input {
            display: none;
        }

        img {
            margin: 0 50%;
            transform: translateX(-50%);
            visibility: hidden;
        }

        .checked {
            visibility: visible;
        }

        .custom-checkbox {
            width: 20px;
            aspect-ratio: 1;
            background: $Check-Background;
            cursor: pointer;
        }

        input:checked+.custom-checkbox {
            border: none;
            background: transparent;
        }

        &:hover {
            border: 2px solid transparent;
            background: linear-gradient($Very-Dark-Desaturated-Blue, $Very-Dark-Desaturated-Blue) padding-box, $Check-Background border-box;
        }
    }

    .input-todo {
        padding: 0;
        width: 100%;
        height: max-content;

        input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: $Light-Grayish-Blue;
            font-family: inherit;
            font-size: inherit;
            caret-color: $Bright-Blue;
        }
    }

    .todo-list {
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .todo {
            @include flex(none, center);
            border-bottom: 1px solid $Very-Dark-Grayish-Blue;
            background-color: $Very-Dark-Desaturated-Blue;
            color: $Light-Grayish-Blue;
            padding: 0.7em 1.5em;
            cursor: pointer;

            button {
                cursor: pointer;
                margin-left: auto;
                border: none;
                outline: none;
                box-shadow: none;
                background: transparent;
                display: none;
            }

            &:hover {

                button {
                    display: block;
                }
            }

        }

        .hidden {
            display: none;
        }

        .completed {
            color: $Dark-Grayish-Blue;
            text-decoration: line-through;
        }

        .todo-options {
            @include styles;
            color: $Dark-Grayish-Blue;
            padding: 0em 1.5625em;
            @include flex(space-between, center);

            @include button-styling();

            .filter-sub-options {
                font-weight: 700;

                @include mobile() {
                    display: none;
                }
            }
        }
    }

    p {
        margin-top: 2em;
        text-align: center;
        color: $Dark-Grayish-Blue;
    }

    .filter-sub-options-mobile {
        @include styles();
        @include button-styling();
        border-radius: 10px;
        margin-top: 2em;
        display: none;

        @include mobile() {
            @include flex(center, center);
            gap: 1em;
        }
    }

    .light-mode {
        @mixin styles-light {
            background-color: $Very-Light-Gray;
            color: $Very-Dark-Grayish-Blue-light-mode;
        }

        .create-todo {

            @include styles-light;

            input {
                color: $Very-Dark-Grayish-Blue-light-mode;

                button {
                    border: 1px solid $Light-Grayish-Blue-light-mode;
                }
            }
        }

        .checkbox {
            border: 2px solid $Light-Grayish-Blue-light-mode;

            &:hover {
                border: 2px solid transparent;
                background: linear-gradient($Very-Light-Gray, $Very-Light-Gray) padding-box, $Check-Background border-box;
            }
        }

        .todo-list {

            .todo {
                border-bottom: 1px solid $Light-Grayish-Blue-light-mode;
                background-color: $Very-Light-Gray;
                color: $Very-Dark-Grayish-Blue-light-mode;
            }

            .completed {
                color: $Light-Grayish-Blue-light-mode;
            }

            .todo-options {
                @include styles-light;
                color: $Dark-Grayish-Blue;

                button {
                    &:hover {
                        color: $Very-Dark-Grayish-Blue-light-mode;
                    }

                    &:focus,
                    &:active {
                        color: $Bright-Blue;
                    }
                }
            }
        }

        .filter-sub-options-mobile {
            @include styles-light();
        }
    }